div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Hello
    p.lead Welcome to this 5 minute app to track the line at HW
    img(src='assets/images/sandwich.png')


footer.footer
  .container
    p
      | HW Sandwich Line v1.0
      = ' | '
      a(href='https://paral.in') @paralin
